<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>書籍一覧</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${message}" class="alert alert-success">
            <span th:text="${message}"></span>
        </div>
        <form class="mb-3" th:object="${searchBookForm}" id="searchForm">
            <div class="row g-2 align-items-center justify-content-start">
                <div class="col-auto">
                    <input type="text" th:field="*{keyword}" class="form-control form-control-sm"
                           placeholder="Search in library" style="width: 200px;"/>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-ivory btn-sm" id="searchBtn">
                        <i class="fas fa-search me-1"></i> Search - 検索
                    </button>
                </div>
            </div>
        </form>

        <table id="bookTable" class="table my-table">
            <thead class="table-light">
            <tr>
                <th><i class="fas fa-book-open"></i> TITLE - 書名</th>
                <th><i class="fas fa-user"></i> AUTER - 著者</th>
                <th><i class="fas fa-tags"></i> GENRE - ジャンル</th>
                <th><i class="fas fa-barcode"></i> ISBN</th>
            </tr>
            </thead>
            <tbody id="result">
            <!-- JavaScriptで動的にここを更新！ -->
            </tbody>

        </table>
    </div>

    <script th:src="@{/js/searchBooks.js}"></script>

</section>
</body>
</html>
