<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>ユーザー一覧</title>
</head>
<body>
<section layout:fragment="content">
    <h2>ユーザー一覧</h2>
    <table class="table my-table">
        <thead class="table-light">
        <tr>
            <th><i class="fas fa-id-badge"></i> ID</th>
            <th><i class="fas fa-user"></i> 氏名</th>
            <th><i class="fas fa-envelope"></i> メールアドレス</th>
            <th><i class="fas fa-user-shield"></i> 権限</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.label}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>