<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takeshi.library.mapper.BookMapper">
    <resultMap id="BookResultMap" type="com.takeshi.library.entity.BookEntity">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="isbn" column="isbn"/>
        <result property="genreId" column="genre_id"/>
        <result property="genreName" column="genre_name"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="searchBooks" resultMap="BookResultMap" parameterType="String">
        SELECT b.id, b.title, b.author, b.isbn, b.deleted,
        g.id AS genre_id, g.name AS genre_name
        FROM book b
        JOIN genres g ON b.genre_id = g.id
        WHERE b.deleted = false
        <if test="keyword != null and keyword != ''">
            AND (
            b.title LIKE CONCAT('%', #{keyword}, '%')
            OR b.author LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        ORDER BY b.id
    </select>

    <select id="findById" resultMap="BookResultMap" parameterType="Integer">
        SELECT b.id, b.title, b.author, b.isbn, b.deleted,
        g.id AS genre_id, g.name AS genre_name
        FROM book b
        JOIN genres g ON b.genre_id = g.id
        WHERE b.id = #{id}
    </select>

    <!-- 登録処理 -->
    <insert id="insert" parameterType="com.takeshi.library.entity.BookEntity">
        INSERT INTO book (title, author, genre_id, isbn, deleted)
        VALUES (#{title}, #{author}, #{genreId}, #{isbn}, FALSE)
    </insert>

    <update id="update" parameterType="com.takeshi.library.entity.BookEntity">
        UPDATE book
        SET title = #{title},
        author = #{author},
        genre_id = #{genreId},
        isbn = #{isbn},
        deleted = #{deleted}
        WHERE id = #{id}
    </update>

    <!-- 論理削除処理 -->
    <update id="softDelete" parameterType="Integer">
        UPDATE book SET deleted = true WHERE id = #{id}
    </update>
</mapper>
