<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takeshi.library.mapper.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="mail" column="mail"/>
        <result property="role" column="role"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!-- 一覧取得（削除されてないユーザーのみ） -->
    <select id="findAll" resultMap="UserResultMap">
        SELECT id, name, mail, role
        FROM users
        WHERE deleted = false
        ORDER BY id
    </select>

    <!-- IDで取得 -->
    <select id="findById" resultMap="UserResultMap" parameterType="Long">
        SELECT id, name, password, mail, role, deleted
        FROM users
        WHERE id = #{id}
    </select>

    <!-- メールアドレスで取得（ログインなどに使用） -->
    <select id="findByMail" resultMap="UserResultMap" parameterType="String">
        SELECT id, name, password, mail, role, deleted
        FROM users
        WHERE mail = #{mail} AND deleted = false
    </select>

    <!-- 登録処理 -->
    <insert id="insert" parameterType="User">
        INSERT INTO users (name, password, mail, role, deleted)
        VALUES (#{name}, #{password}, #{mail}, #{role}, FALSE)
    </insert>

    <!-- 更新処理 -->
    <update id="update" parameterType="User">
        UPDATE users
        SET name = #{name},
        password = #{password},
        mail = #{mail},
        role = #{role},
        deleted = #{deleted}
        WHERE id = #{id}
    </update>

    <!-- 論理削除 -->
    <update id="softDelete" parameterType="Long">
        UPDATE users SET deleted = true WHERE id = #{id}
    </update>

</mapper>